/* CSS for nav-bar */
.navigation {
	padding: 2rem 1rem;
	box-shadow: 2px 0px 8px var(--COLOR-BLACK);
}
.nav-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
}
.iconify--icon-park-outline {
	color: var(--NOTIFICATION-COLOR);
}
.nav-pills {
	text-align: right;
}
.nav-brand {
	font-weight: 700;
	font-size: 4rem;
}
.component-library-link {
	text-decoration: none;
	color: var(--COLOR-PRIMARY);
	vertical-align: middle;
}
.nav-bold-link {
	font-weight: 700;
	font-size: 1.7rem;
	color: var(--COLOR-SOCIAL-ICON);
}
.nav-bold-link:hover {
	cursor: pointer;
	color: var(--PRIMARY-HOVER);
}
.link {
	text-decoration: none;
	padding: 2.5px 1rem;
}
.link:hover {
	cursor: pointer;
}
.list-non-bullet {
	list-style: none;
}
.list-item-inline {
	display: inline;
	padding: 5px 5px;
}
.social-icons {
	font-size: 2.6rem;
	color: var(--COLOR-SOCIAL-ICON);
}
.social-icons:hover {
	cursor: pointer;
	color: var(--COLOR-PRIMARY);
}
/* CSS for all headings and content alignment */
.content-container {
	display: flex;
	flex-direction: column;
	margin: 4rem;
	color: var(--COLOR-WHITE);
}
/* CSS for sidebar */
.side-bar {
	width: 25rem;
	overflow-x: hidden;
	padding-top: 2rem;
	margin-left: 2rem;
	flex: 0 0 auto;
	height: 50rem;
	overflow-y: auto;
}
.sidebar-heading {
	padding: 2rem 1rem 0rem 4rem;
}
.sidebar-subheading {
	padding: 1.5rem 1rem 1rem 4rem;
	text-decoration: none;
	font-size: 2rem;
	font-weight: 500;
	display: block;
	color: var(--COLOR-SOCIAL-ICON);
	scroll-behavior: auto;
}
.sidebar-subheading:hover {
	cursor: pointer;
	color: var(--PRIMARY-HOVER);
}
.sidebar-link-active {
	color: var(--COLOR-PRIMARY);
}
/* CSS for main container */
.main-container {
	display: flex;
	width: 100%;
}
.logo {
	height: 4rem;
	width: 4rem;
	vertical-align: middle;
}

.content-header {
	font-size: 4.3rem;
	font-weight: 700;
	line-height: 6.4rem;
	letter-spacing: 1px;
	color: var(--COLOR-WHITE);
	margin-bottom: 1rem;
}
.md-text {
	font-size: large;
	font-family: "Courier New", Courier, monospace;
	font-weight: 600;
	line-height: 3rem;
	letter-spacing: 1px;
	color: var(--COLOR-SECONDARY);
	margin-bottom: 2rem;
}
.text-primary-color {
	color: var(--COLOR-PRIMARY);
	font-weight: bolder;
}
.sectn {
	margin: 0 3rem 2rem 3rem;
}
.component-display-container {
	justify-content: space-around;
	background-color: var(--BACKGROUND-BODY-COLOR-DARK);
	border: 1.5px solid var(--PRIMARY-HOVER);
	border-radius: 5px;
	margin-top: 2rem;
	padding: 1.5rem;
	max-width: 82.5rem;
	box-shadow: 0px 3px 10px var(--COLOR-BLACK);
}

.flex-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-right: 2rem;
}
.footer-link {
	text-decoration: none;
	color: var(--offgreen);
	font-size: 2rem;
}
.footer-link:hover {
	color: var(--PRIMARY-HOVER);
}
.doc-text-color {
	color: var(--COLOR-WHITE);
}
.github-text-color {
	color: var(--COLOR-PRIMARY);
}
.github-text-color:hover {
	color: var(--COLOR-WHITE);
}
.button-hover {
	color: var(--COLOR-WHITE);
}
.landing-page-container {
	margin: 20rem 10rem 5rem 21.5rem;
	width: 100%;
	max-width: 85rem;
	height: auto;
}
.lg-header {
	font-size: 4.5rem;
	font-weight: 800;
	line-height: 7rem;
	margin-left: 1.5rem;
}
.md-header {
	text-align: center;
	margin: 1rem 0 2rem 0;
	letter-spacing: 1px;
	line-height: 2.7rem;
	color: var(--COLOR-SOCIAL-ICON);
}
.landing-page-button {
	margin-left: 22rem;
}
